:roo {
    --dark: #374151;

}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', sans-serif;
    padding: 0%;
}

.container{
    width: 100%;
    float: left;
    height: 100%;
}

header{
    width: 100%;
    height: 100%;
    z-index: 2;
}

.dashboard-content{
    background-color: rgb(66, 63, 64);
    height: 94%;
}

/* home, albums style*/
header h1{
    color: #fff;
    margin-left: 15px;
}

.card-container{
    margin-left: 15px;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card{
    width: 200px;
    position: relative;
}

.card img{
    padding: 10px;
    width: 200px;
    height: 200px;
    align-self: center;
}

.card .img-artist{
    border-radius: 50%;
}



.col{
    padding-top: 15px;
    position: relative;
}

.card-body h3{
    width: 170px;
    position: relative;
    font-size: 18px;
    color: #fff;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

/* playlist-select style */
.playlist-select-container{
    border-bottom: 1px solid #fff;
    margin-left: 15px;
    margin-bottom: 30px;
}

.playlist-select-container .row .col img{
    width: 200px;
    height: 200px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
}

.playlist-select-container .row .right{
    text-align: left;
    color: #fff;
    margin-left: -230px;
    position: relative;
}

.playlist-select-container .row .right h1{
    font-size: 55px;
    font-weight: bold;
}

.playlist-select-container .row .right h4{
    margin-top: 28px;
    font-size: 22px;
}

.playlist-select-container .row .right h5{
    margin-top: 10px;
    font-size: 20px;
}

.button-container{
    height: auto;
    width: 90%;
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 20px;
    position: relative;
    /* border: 1px solid #fff; */
}

.button-container .row .col i{
    color: rgb(0, 255, 76);
    font-size: 30px;
}

.button-container .row .col .bi-play-circle-fill{
    font-size: 50px;
}

.button-container .row .col .bi-play-circle-fill:hover{
    font-size: 51px;
}

.button-container .row .heart{
    margin-left: 10px;
    align-self: center;   
}


.button-container .row .share{
    margin-left: 8px;
    align-self: center;  
}

.content-table {
    border-collapse: collapse;
    font-size: 0.9em;
    width: 95%;
    margin-left: 15px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #fff
}

.content-table th, .content-table td {
    padding: 12px 15px;
}

.content-table tbody tr:hover {
    background-color: rgb(129, 123, 125);
}

.content-table tbody td {
    color: #fff;
}
.content-table tbody tr .fav-col {
    text-align: right;
}

.content-table tbody tr .fav-col .bi-heart{
    text-align: right;
    color: #fff;
}

.content-table tbody tr .fav-col .bi-heart-fill{
    text-align: right;
    color: rgb(0, 255, 76);
}

/* sign up */
.center-form{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    position:fixed;
    z-index:999;
    width:100vw;
    height:100vh;
    background-color: black;
    background-color:rgba(0,0,0,.75)  
  }
 
  .form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 
  .form-container{
    background: #fff;
    width: 410px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
  }
 
 .form-container h1{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
  }
 
 .form-container form{
    margin-top: -30px;
  }
 
  .form-container form .data{
    height: 40px;
    width: 100%;
    margin: 40px 0;
  }
 
  form .data label{
    font-size: 18px;
  }
 
 form .data input, select{
    height: 100%;
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    border: 1px solid silver;
  }
 
  form .data input:focus{
    border-color: #3498db;
    border-bottom-width: 2px;
  }
 
  form .btn{
    margin: 30px 0;
    height: 45px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: black;
  }
 
  form .btn button{
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
  }
 
  form .login-link{
    text-align: center;
  }
 
  form .login-link a{
    color: #3498db;
    text-decoration: none;
  }
  form .login-link a:hover{
    text-decoration: underline;
  }

  /* Playlist button */
  button.link {
    background:none;
    border:none;
    color: white;
    font-size: 40px;
  }



