* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', sans-serif;
    padding: 0%;
}

.container{
    width: 100%;
    float: left;
    height: 100%;
}

header{
    width: 100%;
    height: 100%;
    z-index: 2;
}

.dashboard-content{
  background: linear-gradient(to top, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
  height: 100%;
  margin-left: 250px;
  margin-top: 5vh;
}

#flash-msg-close-btn{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 1.25rem 1rem;
}

/* home, albums, playlist, artist-select and search styles*/

header h1{
    color: #fff;
    margin-left: 15px;
}

.card{
    background: rgb(51, 49, 49) !important;
    cursor: pointer;  
}

.card img{
  padding: 10px;
  width: 170px;
  height: 170px;
  align-self: center;
}

.card .img-artist{
  border-radius: 50%;
}

.col{
  position: relative;   
  width: 200px !important;
}

.col a{
  text-decoration: none;   
}

.card-body .bi-trash-fill{
    color: #fff;    
}

.card .card-body h3{ 
  font-size: 18px;
  color: #fff;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

.card .card-body h5{
  font-size: 15px;
  color: rgb(179, 179, 179);
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

.card .card-body form{ 
  text-align: center;
  height: 50px;
}
.card .card-body form button{ 
  width: 100%;
  background: black;
  margin: 0 !important;
}

/* artist-select style */
/*

.card-container{
  margin-left: 15px;
  width: 90%;
  height: 100%;
  display: flex;
  /* align-items: center; */
  /*
  justify-content: space-between;
   
}*/
/*
.card{
  width: 200px;
  position: relative;
}

.card img{
  padding: 10px;
  width: 200px;
  height: 200px;
  align-self: center;
}

.card .img-artist{
  border-radius: 50%;
}

.col{
  padding-top: 15px;
  position: relative;
}

.card-body h3{
  width: 170px;
  position: relative;
  font-size: 18px;
  color: #fff;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

h3{
  color: #fff;
  font-size: 30px;
  margin-left: 15px;
  padding-top: 20px;
  font-weight: bold;
}
*/


/* playlist-select, album-select, artists-select style */
.playlist-select-container{
    border-bottom: 1px solid #fff;
    margin-left: 15px;
    margin-bottom: 30px;
}

.playlist-select-container .row .col img{
    width: 200px;
    height: 200px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
}

.playlist-select-container .row .right{
    text-align: left center;
    color: #fff;
    margin-left: -20px;
    position: relative;
}

.playlist-select-container .row .right h1{
    font-size: 55px;
    font-weight: bold;
}

.playlist-select-container .row .right h4{
    margin-top: 28px;
    font-size: 22px;
}

.playlist-select-container .row .right h5{
    margin-top: 10px;
    font-size: 20px;
}

.button-container{
    height: auto;
    width: 90%;
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 20px;
    position: relative;
    /* border: 1px solid #fff; */
}

.button-container .row .col i{
    color: rgb(0, 255, 76);
    font-size: 30px;
}

.button-container .row .col .bi-play-circle-fill{
    font-size: 50px;
}

.button-container .row .col .bi-play-circle-fill:hover{
    font-size: 51px;
}


.button-container .row .share{
    margin-left: 8px;
    align-self: center;  
}

.content-table {
    border-collapse: collapse;
    font-size: 0.9em;
    width: 95%;
    margin-left: 15px;
    border-radius: 5px 5px 0 0;
    /*overflow: hidden;*/
    overflow: inherit;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #fff
}

.content-table th, .content-table td {
    padding: 12px 15px;
}

.content-table tbody tr:hover {
    background-color: #587683;
}

.content-table tbody td {
    color: #fff;
}
.content-table tbody tr .fav-col {
    text-align: right;
}

.content-table tbody tr .fav-col {
  text-align: left;
}

/* three-dots menu*/
.content-table tbody tr .fav-col .dropend .btn{
  text-align: left;
  background-color:transparent ;
  border: transparent;
}

.content-table tbody tr .fav-col .dropend .btn:focus{
  box-shadow: none !important;
}

.content-table tbody tr .fav-col .dropend .dropdown-menu{
    position:relative;
    float:none;
    min-width:210px;
    background-color: rgb(51, 50, 50);
    padding: 2px 2px 2px 2px;
    overflow: inherit;
    top: 0;
    left: 100%;
    margin-top: -1px;
    border: 1px solid rgb(20, 20, 20);
}

.content-table tbody tr .fav-col .dropend .dropdown-menu .dropdown-item{
  color: #fff;
  padding-bottom: 3px;
}

.content-table tbody tr .fav-col .dropend .dropdown-menu .dropdown-item i{
  padding-left: 20px;
}

.content-table tbody tr .fav-col .dropend .dropdown-menu .dropdown-item:hover, .submenu:hover{
  background-color: rgb(129, 123, 125);

}

    /* dropmenu interno */
.content-table tbody tr .fav-col .submenu{
  color: white;
  border: none;
}

.content-table tbody tr .fav-col .submenu .playlist{
  display: none;
  list-style: none;
  position: absolute;
  background-color: rgb(51, 50, 50);
  float:none;
  height: 200px;
  max-width:200px;
  min-width:210px;
  padding: 2px 2px 2px 2px;
  overflow: inherit;
  overflow-y:scroll;
  top: -1px;
  margin-top: -1px;
  border: 1px solid rgb(20, 20, 20);
}

.content-table tbody tr .fav-col .submenu .playlist .dropdown-item-playlist{
  color: #fff;
  text-decoration: none;
  display: block;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.content-table tbody tr .fav-col .submenu .playlist .dropdown-item-playlist i{
  padding-left: 20px;

}

.content-table tbody tr .fav-col .submenu .playlist .dropdown-item-playlist:hover{
  background-color: rgb(129, 123, 125);

}

.content-table tbody tr .fav-col .submenu:hover .playlist{
  display: block;
  right: 191px;
  top:0;
}


/* sign up */
.center-form{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    position:fixed;
    z-index:999;
    width:100vw;
    height:100vh;
    background-color: black;
    background-color:rgba(0,0,0,.75)  
}
 
.form-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 
.form-container{
  background: #fff;
  width: 410px;
  padding: 30px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
 
.form-container h1{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
 
.form-container form{
  margin-top: -30px;
}
 
.form-container form .data{
  height: 40px;
  width: 100%;
  margin: 40px 0;
}
 
form .data label{
  font-size: 18px;
}

 form .data input, select{
    height: 100%;
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    border: 1px solid silver;
  }
 
  form .data input:focus{
    border-color: #3498db;
    border-bottom-width: 2px;
  }
 
  form .btn{
    margin: 30px 0;
    height: 45px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: black;
  }
 
  form .btn button{
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
  }
 
  form .login-link{
    text-align: center;
  }
 
  form .login-link a{
    color: #3498db;
    text-decoration: none;
  }
  form .login-link a:hover{
    text-decoration: underline;
  }

  /* Playlist button */
  button.link {
    background:none;
    border:none;
    color: white;
    font-size: 40px;
  }

  /* Search */   

  .wrapper{
    max-width: 450px;
    margin: 10px;
  }

  .wrapper .search-input{
    position: relative;
    background: #fff;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
  }

  .search-input input{
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  }

  .search-input .icon{
    height: 60px;
    width: 80px;/*55px;*/
    line-height: 55px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    color: gray;
  }

  .search-input .icon i {
    position: absolute;
  }
        
  
  .search-input .icon .input-field {
    width: 100%;
    text-align: center;
    height: 90%;
}

  .search-input .autocom-box{
    padding: 0px;
    max-height: 280px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
  }

  .search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
  }

  .autocom-box li{
    list-style: none;
    padding: 8px 12px;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    display: none;
  }

  .search-input.active .autocom-box li{
    display: block;
  }

  .autocom-box li:hover{
    background: #efefef;
  }


/*artist-profile tables*/

.artist-table {
  table-layout: auto;
  border-collapse: collapse;
  font-size: 0.9em;
  width: 98%;
  height:fit-content;
  margin-left: 15px;
  border-radius: 5px 5px 0 0;
  /*overflow: hidden;*/
  overflow: inherit;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.artist-table thead tr {
  color: #fff;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #fff;
}

.artist-table th, .artist-table td {
  padding: 12px 15px;
  text-align: center;
}

.artist-table tbody tr:hover {
  background-color: #587683;
}

.artist-table tbody td {
  color: #fff;
}

.row-ap{
  font-size: 30px;
  text-align: center;
  padding: 50px 0 50px 0;
  color: #fff;
}

.container-ap{
  text-align: center;
  table-layout: auto;
  border-collapse: collapse;
  font-size: 0.9em;
  width: 98%;
  height:fit-content;
  margin-left: 15px;
  border-radius: 5px 5px 0 0;
  /*overflow: hidden;*/
  overflow: inherit;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.h1ap{
  text-align: center;
  font-size: 45px;
  color: #fff;
}

.buttons{
  display: flex;
}

.btn-album{
  text-decoration: none;
  padding: 20px 50px;
  font-size: 1.25rem;
  position: relative;
  background: #fff;
  color: #000;
  border-radius: 15px;
}

.row-top{
  display: flex;
  width: 200px;
  height: 200px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
}

/*modal addalbum*/

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 380px;
  padding: 20px 30px;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.modal .btn-close{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  background: #000;
  color: #fff;
  text-align: center;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}

.modal-header{
  text-align: center;
  color: #222;
  margin: 10px 0px;
  font-size: 25px;
}

.modal-body .form-group{
  margin: 10px 0px;
}

.modal-body .form-group label{
  font-size: 14px;
  color: #222;
}

.modal-body .form-group input[type="text"], .modal-body .form-group input[type="number"]{
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
}

  /* a element link style */
  .text-link{
    color: #fff;
    text-decoration: none;
  }

  .text-link:hover{
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #fff;
  }
  
  .text-artist-link{
    color: rgb(189, 188, 188);
    text-decoration: none;
  }

  .text-artist-link:hover{
    color: rgb(189, 188, 188);
    text-decoration: underline;
    text-decoration-color: rgb(189, 188, 188);
  }

  .text-activate-premium-link{
    color: rgb(104, 100, 100);
    text-decoration: underline !important;
    text-decoration-color: rgb(104, 100, 100);
  }

  .text-activate-premium-link:hover{
    color: rgb(136, 131, 131);
    text-decoration: underline;
    text-decoration-color: rgb(136, 131, 131);
  }

  /* page-not-found */
.form-page-not-found{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.form-page-not-found h1, h5{
  color: #fff;
}

.form-page-not-found h5{
  padding-top: 25px;
  padding-bottom: 25px;
}

.form-page-not-found a{
  background-color: transparent;
  border: none;
}
.form-page-not-found a:hover{
  background-color: transparent;
  border: none;
}
  