body{
    background: #eee;
}

#side_nav{
    background: #000;
    min-width: 250px;
    max-width: 250px;
    height: 100%;
    transition: all 0.3s;
    position: fixed;
    z-index: 10;
}
.content{
    min-height: 95vh;
    width: 100%;
}

#nav_bar{
    top: 0;
    position: fixed;
    margin-left: 250px;
    width: 100%;
    z-index: 9;
}

hr.h-color{
    background: #eee;
}

.sidebar li.active{
    background: #eee;
    border-radius: 8px;
}

.sidebar li.active a, .sidebar li.active a:hover {
    color: #000;
}

.sidebar li a{
    color: #fff;
}

/* CreatePlaylist button */
button.link2 {
    background:none;
    border:none;
    color: white;
    font-size: 16px;
}



@media(max-width: 767px){
    #side_nav{
        margin-left: -250px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }
    #side_nav.active{
        margin-left: 0;
    }
}