{% extends "base.html" %} 

{% block title %}Home
{% endblock %}

{% block content %}

<main>
    <div class="playlist-select-container">
        <div class="row">
          <div class="col left">
                <img src="https://bit.ly/3PiIDrx" alt="nomeAlbum">
          </div>
          <div class="col right">
              <h6>ALBUM</h6>
              <h5>--Da Aggiungere Artista qui--</h5>
              <h5>{{album_name}}</h5>
              <h5>{{num_songs}} brani, {{tot_length// 3600 }} ore {{tot_length// 60 }} minuti  </h5>
          </div>
          {% if owner %}
            <div class="col right">
              <div class="buttons">
                <button type="button" class="btn-album" data-bs-toggle="modal" data-bs-target="#addSong">Inserisci una nuova canzone</button>
              </div>
            </div>
          {% endif %}
        </div>
    </div>
    <div class="button-container">
        <div class="row">
            <div class="col">
                <i class="bi bi-play-circle-fill"></i>
            </div>
        </div>
    </div>
    <table class="content-table">
        <thead>
          <tr>
            <th>#</th>
            <th>TITOLO</th>
            <th>N° ASCOLTI</th>
            <th><i class="bi bi-clock"></i></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {%- for song in songs_list -%}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ song.title }}</td>
              <td>{{ song.num_of_plays }}</td>
              <td id='intToMinSec'> {{ song.length // 60 }}:{{ song.length % 60}} </td>
              <td class="fav-col">                
                <div class="btn-group dropend">
                    <button type="button" class="btn btn-primary" data-bs-toggle="dropdown">
                      <i class="bi bi-three-dots"></i>
                    </button>
                    <ul class="dropdown-menu">
                      <li class="submenu">
                        <div class="btn-group dropstart btn-group-playlist">
                            <button type="button" class="btn btn-primary btn-playlist" data-bs-toggle="dropstart">
                                Aggiungi alla playlist
                                <i class="bi bi-caret-right-fill"></i>
                            </button>
                            <ul class="dropstart-menu playlist">
                              {%- for playlist in playlist_list -%}                                
                                <li><a class="dropdown-item-playlist" href="{{url_for('views.album_add_song', id_album_selected=actual_album, idPlaylist_ToAddSong=playlist.id, id_song=song.id)}}">{{ playlist.name }}</a></li>
                              {%- endfor -%}
                            </ul>
                        </div>
                      </li>
                      <li><a class="dropdown-item" href="{{url_for('views.get_artist_selected',id_artist_selected=song.id_artist)}}">Vai all'artista</a></li>
                      <li><a class="dropdown-item" href="{{url_for('views.get_album_selected',id_album_selected=actual_album)}}">Vai all'album</a></li>
                    </ul>
                </div>
              </td>
            </tr>
          {%- endfor -%}
        </tbody>
      </table>
      {% if owner %}
      <form action="{{url_for('views.create_song', id_album=id_album)}}" method="POST">
        <div class="modal fade" id="addSong" tabindex="-1" aria-labelledby="addSongLabel" aria-hidden="true">
            <div class="modal-dialog centered">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addSongLabel" style="color: black;">Inserisci nuova canzone</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label style="color: black;">Titolo canzone</label>
                    <input type="text" id="titleSong" name="titleSong">
                  </div>
                  <div class="form-group">
                    <label style="color: black;">Anno</label>
                    <input type="number" id="yearSong" name="yearSong" min="1900" max="2100" step="1" value="2022">
                  </div>
                  <div class="form-group">
                    <label style="color: black;">Durata min e sec</label>
                    <input type="number" id="minSong" name="minSong" min="0" max="59" value="0">
                    <input type="number" id="secSong" name="secSong" min="1" max="59" value="0">
                  </div>


                  <div class="form-group">                
                      <label style="color: black;">Seleziona genere della canzone</label>                    
                      <select id="selectGenre" name="selectGenre"></select>
                  </div>


                  <div class="form-group">
                    <label style="color: black;">Ci sono altri artisti?</label>
                    <br/>
                    <input type="radio" name="rad1" onclick="addArtist(1)" value="yes"> Si
                    <input type="radio" name="rad1" onclick="addArtist(0)" value="no" checked> No
                  </div>
                  <div id="new-artist" style="display: none;">
                    <form id="form">
                      <div class="form-group">
                        <label style="color: black;">Inserire numero di artisti</label>
                        <input type="number" id="idname" oninput="fun()" value="" min="0"max="20" name="numArtist">
                        <div id="parent"></div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="modal-footer">
                <button type="submit" class="btn btn-primary" name="create_playlist">Salva</button>
                </div>
            </div>
            </div>
        </div>
      </form>
      {% endif %}
</main>

<script>
  function fun() {
    /*Getting the number of text fields*/
    var no = document.getElementById("idname").value;


    const dbArtist = JSON.parse('{{ itemArtistlist | tojson }}');

    let parent = document.getElementById("parent");
    cleanDiv(parent);
    /*Generating text fields dynamically in the same form itself*/
    for(var i=0;i<no;i++) {      
      let select = document.createElement('select');
      select.setAttribute('id', 'selectElementId'+i);
      select.setAttribute('name', 'nameArtist'+i)
      parent.appendChild(select);
      let tmpList = dbArtist      
      for(var j=0; j<tmpList.length;j++){
        let option = document.createElement('option');
        option.value = tmpList[j];
        option.innerHTML = tmpList[j];
        select.appendChild(option);
      }
    }
  }
  function cleanDiv(div){
    if(div!=null)
      div.innerHTML = '';
  }

  function addArtist(x){
      if(x==1)
          document.getElementById('new-artist').style.display='block';
      else
          document.getElementById('new-artist').style.display='none';
      return;
  }

  const itemGenrelist = JSON.parse('{{ itemGenrelist | tojson }}');
  let select = document.getElementById('selectGenre')
  let tmpList = itemGenrelist;      
  for(var j=0; j<tmpList.length;j++){
    let option = document.createElement('option');
    option.value = tmpList[j];
    option.innerHTML = tmpList[j];
    select.appendChild(option);    
  }
  
</script>

{% endblock %}

