{% extends "base.html" %} 

{% block title %}{{album_name}}
{% endblock %}

{% block content %}

<main>
    <div class="playlist-select-container">
        <div class="row">
          <div class="col left">
                <img src="/static/album.png" alt="nomeAlbum">
          </div>
          <div class="col-6 right">
              <h6>ALBUM</h6>
              <h5>{{album_name}}</h5>
              <h5>
              {% for artists in album_artists%}
                {% if loop.last %}
                  <a class="text-artist-link-in-album" href="{{url_for('views.get_artist_selected',id_artist_selected=artists.id)}}">{{artists.name}}</a> 
                {% else %}
                  <a class="text-artist-link-in-album" href="{{url_for('views.get_artist_selected',id_artist_selected=artists.id)}}">{{artists.name}}</a>,
                {% endif %}
              {% endfor %}
              </h5>
              <h5>{{num_songs}} brani, {{tot_length// 3600 }} ore {{tot_length// 60 }} minuti  </h5>
          </div>
          {% if owner %}
            <div class="col right">
              <div class="buttons">
                <button type="button" class="btn-album" data-bs-toggle="modal" data-bs-target="#addSong">Inserisci una nuova canzone</button>
              </div>
            </div>
          {% endif %}
        </div>
    </div>
    <table class="content-table">
        <thead>
          <tr>
            <th>#</th>
            <th></th>
            <th>TITOLO</th>
            <th>N° ASCOLTI</th>
            <th><i class="bi bi-clock"></i></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {%- for song in songs_list -%}
            {% if song is mapping %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>
                <button class="button-container" id="btn-plays{{song.id}}" onclick="addPlays('plays{{song.id}}', '{{song.id}}')"><div class="row-b"><div class="col-b"><i class="bi bi-play-circle-fill"></i></div></div></td>
              <td>{{ song.title }}<br>
                {% for key, value in song.artists_data.items() %}
                  {% if loop.last %}
                  <a class="text-artist-link" href="{{url_for('views.get_artist_selected',id_artist_selected=value[0])}}">{{ value[1] }}</a> 
                  {% else %}
                  <a class="text-artist-link" href="{{url_for('views.get_artist_selected',id_artist_selected=value[0])}}">{{ value[1] }}</a>,
                  {% endif %}
                {% endfor %}
              </td>
              <td id="plays{{song.id}}">{{ song.num_of_plays }}</td>
              <td id='intToMinSec'> 
                {% if (song.length // 60) < 10 %}
                    0{{ song.length // 60 }}:
                  {% else %}
                    {{ song.length // 60 }}:
                  {% endif %}
                  
                  {% if (song.length % 60) < 10 %}
                    0{{ song.length % 60 }}
                  {% else %}
                    {{ song.length % 60 }}
                  {% endif %}  
              </td>
              <td class="fav-col">                
                <div class="btn-group dropend">
                    <button type="button" class="btn btn-primary" data-bs-toggle="dropdown">
                      <i class="bi bi-three-dots"></i>
                    </button>
                    <ul class="dropdown-menu">
                      <li class="submenu">
                        <div class="btn-group dropstart btn-group-playlist">
                            <button type="button" class="btn btn-primary btn-playlist" data-bs-toggle="dropstart">
                                Aggiungi alla playlist
                                <i class="bi bi-caret-right-fill"></i>
                            </button>
                            <ul class="dropstart-menu playlist">
                              {%- for playlist in playlist_list -%}                                
                                <li><a class="dropdown-item-playlist" href="{{url_for('views.album_add_song', id_album_selected=actual_album, idPlaylist_ToAddSong=playlist.id, id_song=song.id)}}">{{ playlist.name }}</a></li>
                              {%- endfor -%}
                            </ul>
                        </div>
                      </li>
                      {% if owner %}
                        <li><a class="dropdown-item" href="{{url_for('views.album_remove_song', id_album_selected=actual_album, id_song=song.id)}}">Rimuovi da questo album</a></li>
                      {% endif %}
                        <li class="submenu">
                          <div class="btn-group dropstart btn-group-playlist">
                              <button type="button" class="btn btn-primary btn-playlist" data-bs-toggle="dropstart">
                                Vai all'artista
                                  <i class="bi bi-caret-right-fill"></i>
                              </button>
                              <ul class="dropstart-menu artist">
                                {% for key, value in song.artists_data.items() %}
                                <li><a class="dropdown-item-playlist" href="{{url_for('views.get_artist_selected',id_artist_selected=value[0])}}">{{ value[1] }}</a></li>
                                {% endfor %}
                              </ul>
                          </div>
                        </li>
                      <li><a class="dropdown-item" href="{{url_for('views.get_album_selected',id_album_selected=actual_album)}}">Vai all'album</a></li>
                    </ul>
                </div>
              </td>
            </tr>
            {% else %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>
                <button class="button-container" id="btn-plays{{song.id}}" onclick="addPlays('plays{{song.id}}', '{{song.id}}')"><div class="row-b"><div class="col-b"><i class="bi bi-play-circle-fill"></i></div></div></td>
              <td>{{ song.title }}<br>
                <a class="text-artist-link" href="{{url_for('views.get_artist_selected',id_artist_selected=song.id_artist)}}">{{ song.name_artist }}
              </td>
              <td id="plays{{song.id}}">{{ song.num_of_plays }}</td>
              <td id='intToMinSec'> 
                {% if (song.length // 60) < 10 %}
                    0{{ song.length // 60 }}:
                  {% else %}
                    {{ song.length // 60 }}:
                  {% endif %}
                  
                  {% if (song.length % 60) < 10 %}
                    0{{ song.length % 60 }}
                  {% else %}
                    {{ song.length % 60 }}
                  {% endif %}  
              </td>
              <td class="fav-col">                
                <div class="btn-group dropend">
                    <button type="button" class="btn btn-primary" data-bs-toggle="dropdown">
                      <i class="bi bi-three-dots"></i>
                    </button>
                    <ul class="dropdown-menu">
                      <li class="submenu">
                        <div class="btn-group dropstart btn-group-playlist">
                            <button type="button" class="btn btn-primary btn-playlist" data-bs-toggle="dropstart">
                                Aggiungi alla playlist
                                <i class="bi bi-caret-right-fill"></i>
                            </button>
                            <ul class="dropstart-menu playlist">
                              {%- for playlist in playlist_list -%}                                
                                <li><a class="dropdown-item-playlist" href="{{url_for('views.album_add_song', id_album_selected=actual_album, idPlaylist_ToAddSong=playlist.id, id_song=song.id)}}">{{ playlist.name }}</a></li>
                              {%- endfor -%}
                            </ul>
                        </div>
                      </li>
                      {% if owner %}
                        <li><a class="dropdown-item" href="{{url_for('views.album_remove_song', id_album_selected=actual_album, id_song=song.id)}}">Rimuovi da questo album</a></li>
                      {% endif %}
                      <li><a class="dropdown-item" href="{{url_for('views.get_artist_selected',id_artist_selected=song.id_artist)}}">Vai all'artista</a></li>
                      <li><a class="dropdown-item" href="{{url_for('views.get_album_selected',id_album_selected=actual_album)}}">Vai all'album</a></li>
                    </ul>
                </div>
              </td>
            </tr>
            {% endif%}
          {%- endfor -%}
        </tbody>
      </table>
      
      <form action="{{url_for('views.create_song', id_album=actual_album)}}" method="POST">
        <div class="modal fade" id="addSong" tabindex="-1" aria-labelledby="addSongLabel" aria-hidden="true">
            <div class="modal-dialog centered">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addSongLabel" style="color: black;">Inserisci nuova canzone</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label style="color: black;">Titolo canzone</label>
                    <input type="text" id="titleSong" name="titleSong">
                  </div>
                  <div class="form-group">
                    <label style="color: black;">Anno</label>
                    <input type="number" id="yearSong" name="yearSong" min="1900" max="2100" step="1" value="2022">
                  </div>
                  <div class="form-group">
                    <label style="color: black;">Inserisci i minuti</label>
                    <input type="number" id="minSong" name="minSong" min="0" max="59" value="0" onblur="changeMin()">
                    <label style="color: black;">Inserisci i secondi</label>
                    <input type="number" id="secSong" name="secSong" max="59" value="0">
                  </div>


                  <div class="form-group">                
                      <label style="color: black;">Seleziona genere della canzone</label>                    
                      <select id="selectGenre" name="selectGenre"></select>
                  </div>


                  <div class="form-group">
                    <label style="color: black;">Ci sono altri artisti?</label>
                    <br/>
                    <input type="radio" name="rad1" onclick="addArtist(1)" value="yes"> Si
                    <input type="radio" name="rad1" onclick="addArtist(0)" value="no" checked> No
                  </div>
                  <div id="new-artist" style="display: none;">
                    <form id="form">
                      <div class="form-group">
                        <label style="color: black;">Inserire numero di artisti da aggiungere</label>
                        <input type="number" id="idname" oninput="fun()" value="" min="0"max="20" name="numArtist">
                        <div id="parent"></div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="modal-footer">
                <button type="submit" class="btn btn-primary" name="create_song">Salva</button>
                </div>
            </div>
            </div>
        </div>
      </form>
      
</main>

<script>

  /**
   * Function that creates as many text fields as artists entered
   */
  function fun() {
    /*Getting the number of text fields*/
    var no = document.getElementById("idname").value;


    const dbArtist = JSON.parse('{{ itemArtistlist | tojson }}');

    let parent = document.getElementById("parent");
    cleanDiv(parent);
    /*Generating text fields dynamically in the same form itself*/
    for(var i=0;i<no;i++) {      
      let select = document.createElement('select');
      select.setAttribute('id', 'selectElementId'+i);
      select.setAttribute('name', 'nameArtist'+i)
      parent.appendChild(select);
      let tmpList = dbArtist      
      for(var j=0; j<tmpList.length;j++){
        let option = document.createElement('option');
        option.value = tmpList[j];
        option.innerHTML = tmpList[j];
        select.appendChild(option);
      }
    }
  }
  /**
   * Function that clean a div
   * @param {element.div} div - The div
   */
  function cleanDiv(div){
    if(div!=null)
      div.innerHTML = '';
  }

  /**
   * Function showing or hiding "new-artist" div
   * @param {Integer} x - Parameter that can assume values of 0 or 1
   */
  function addArtist(x){
      if(x==1)
          document.getElementById('new-artist').style.display='block';
      else
          document.getElementById('new-artist').style.display='none';
      return;
  }

  /**
   * Loads all the genres in the database and inserts them in a drop-down menu
   */
  const itemGenrelist = JSON.parse('{{ itemGenrelist | tojson }}');
  let select = document.getElementById('selectGenre')
  let tmpList = itemGenrelist;      
  for(var j=0; j<tmpList.length;j++){
    let option = document.createElement('option');
    option.value = tmpList[j];
    option.innerHTML = tmpList[j];
    select.appendChild(option);    
  }

  /**
   * Function associated with a button that increase the num_of_plays attribute of a song.
   * @param {Integer} plays - The song num_of_plays
   * @param {Integer} songId - The song id 
   */
  function addPlays(plays, songId){
      var element = document.getElementById(plays);
      var value = element.innerHTML;
      ++value;
      document.getElementById(plays).innerHTML = value;
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/addPlays", true);
      xhr.setRequestHeader('Content-type', 'addPlays');
      xhr.send(songId);
  }

  /**
   * Function that changes the "min" attribute of "secSong"
   */
  document.getElementById("secSong").setAttribute("min", 0);
  function changeMin(){
    var element = document.getElementById("minSong").value;
    if(val>0)
      document.getElementById("secSong").setAttribute("min", 0);
    else
      document.getElementById("secSong").setAttribute("min", 0);
  }

</script>

{% endblock %}

