{% extends "base.html" %} 

{% block title %}Home
{% endblock %}

{% block content %}


<main>
    <div class="card-container">
      <div class="row">
        {%- for album in album_list -%}
          <div class="col">
            <a href="{{url_for('views.get_album_selected',id_album_selected=album.id)}}">
              <div class="card bg-dark">
                  <img src="https://bit.ly/3PiIDrx">
                  <div class="card-body">
                    <h3>{{ album.name }}</h3>
                  </div>
              </div>
            </a>
          </div>
        {%- endfor -%}
      </div>
  </div>
</main>

{% endblock %}

