{% extends "base.html" %} 

{% block title %}Profilo
{% endblock %}

{% block content %}

<main>
    <div class="playlist-select-container">
        <div class="row">
            <div class="col left">
                <img src="https://bit.ly/3PiIDrx" alt="nomeAlbum" style="border-radius: 50%;">
            </div>
            <div class="col right">
                <h6>PROFILO ARTISTA</h6>
                <h4>{{session['username']}}</h4>      
            </div>
            <div class="col right">
              <div class="buttons">
                <button type="button" class="btn-album" data-bs-toggle="modal" data-bs-target="#addAlbum">Aggiungi album</button>
              </div>
            </div>
        </div>
    </div>
    <div class="h1ap">Account</div>
    <div class="container-ap">
        <table width="100%">
            <tr>
                <th>
                    <div class="col-ap">
                        <div class="row-ap">Nome utente:</div>
                        <div class="row-ap">Email:</div>
                        <div class="row-ap">Account premium:</div>
                    </div>
                </th>
                <th>
                    <div class="col-ap">
                        {% for user in user_in %}
                        <div class="row-ap"> {{ user.name }} </div>
                        <div class="row-ap"> {{ user.email }} </div>
                        <div class="row-ap"> 
                            {%if session['role']=="UserPremium" or session['role']=="ArtistPremium" or session['role']=="Admin" %}
                                Si 
                            {% else %}
                                No <h5><a class="text-activate-premium-link" href="#" data-bs-toggle="modal" data-bs-target="#premium-subscribe">Diventa Premium a soli 9,99€</a></h5>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </th>
            </tr>
        </table>
    </div>
    <hr style="color: black;">
    <table width="100%">
      <thead>
        <tr>
          <th>
            <div class="h1ap">Canzoni con più ascolti</div>
            <table class="artist-table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>TITOLO</th>
                  <th>NUMERO ASCOLTI</th>
                </tr>
              </thead>
              <tbody>
                {%- for song in songs_list -%}
                  <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ song.title }}</td>
                    <td>{{ song.num_of_plays }} </td>
                  </tr>
                {%- endfor -%}
              </tbody>
            </table>
            <div class="h1ap">Album con più ascolti</div>
            <table class="artist-table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>TITOLO</th>
                  <th>NUMERO ASCOLTI</th>
                </tr>
              </thead>
              <tbody>
                {%- for album in album_list -%}
                  <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ album.name }}</td>
                    <td>{{ album.tot_plays }} </td>
                  </tr>
                {%- endfor -%}
              </tbody>
            </table>
          </th>
          <th>
            <div class="h1ap">Statistiche</div>
            <div class="container-ap">
              <div class="col-ap">
                <div class="row-ap">
                  Numero totale canzoni: {{ count_song }}
                </div>
                <div class="row-ap">
                  Numero totale album: {{ count_album }}
                </div>
                <div class="row-ap">
                  Genere più ascoltato: {%- for genre in top_genre -%}
                                          {% if loop.last %}
                                            {{ genre.genre }} 
                                          {% else %}
                                            {{ genre.genre }},
                                          {% endif %}
                                        {%- endfor -%}
                </div>
              </div>
            </div>
          </th>
        </tr>
      </thead>
    </table>
</main>

<form action="{{url_for('views.create_album')}}" method="POST">
  <div class="modal fade" id="addAlbum" tabindex="-1" aria-labelledby="addAlbumLabel" aria-hidden="true">
      <div class="modal-dialog centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addAlbumLabel" style="color: black;">Aggiungi album</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label style="color: black;">Nome album</label>
            <input type="text" id="nameAlbum" name="nameAlbum">
          </div>
          <div class="form-group">
            <label style="color: black;">Anno pubblicazione</label>
            <input type="number" id="yearAlbum" name="yearAlbum" min="1900" max="2100" step="1" value="2022">
          </div>
          <div class="form-group">
            <label style="color: black;">Ci sono altri artisti?</label>
            <br/>
            <input type="radio" name="rad1" onclick="addArtist(1)" value="yes"> Si
            <input type="radio" name="rad1" onclick="addArtist(0)" value="no" checked> No
          </div>
          <div id="new-artist" style="display: none;">
            <form id="form">
              <div class="form-group">
                <label style="color: black;">Inserire numero di artisti da aggiungere</label>
                <input type="number" id="idname" oninput="fun()" value="" min="0"max="20" name="numArtist">
                <div id="parent"></div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" name="create_album">Salva</button>
        </div>
      </div>
      </div>
  </div>
</form>

<form action="{{url_for('views.premium_subscription')}}" method="POST">
  <div class="modal fade" id="premium-subscribe" tabindex="-1" aria-labelledby="addAlbumLabel" aria-hidden="true">
      <div class="modal-dialog centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addAlbumLabel" style="color: black;">Attiva Premium</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <p>A soli 9,99€ potrai diventare un membro premium, che ti darà accesso a:</p>
            <ol class="list-group list-group-numbered">
              <li class="list-group-item">Nuove Playlist: saranno disponibili delle playlist contenenti le 10 canzoni più ascoltate per ogni genere musicale</li>
              <li class="list-group-item">Suggerimenti: in base alle canzoni salvate nelle tue playlist ti verranno suggerite delle nuove canzoni</li>
            </ol>
            <br>
            <p style="font-size: 15px;">Se decidi di attivare il premium verrai reindirizzato al login</p>
            </ol>
          </div>    
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" name="create_album">Attiva</button>
        </div>
      </div>
      </div>
  </div>
</form>

<script>

  /**
   * Function that creates as many text fields as artists entered
   */
  function fun() {
    /*Getting the number of text fields*/
    var no = document.getElementById("idname").value;


    const dbArtist = JSON.parse('{{ itemlist | tojson }}');

    let parent = document.getElementById("parent");
    cleanDiv(parent);
    /*Generating text fields dynamically in the same form itself*/
    for(var i=0;i<no;i++) {      
      let select = document.createElement('select');
      select.setAttribute('id', 'selectElementId'+i);
      select.setAttribute('name', 'nameArtist'+i)
      parent.appendChild(select);
      let tmpList = dbArtist      
      for(var j=0; j<tmpList.length;j++){
        let option = document.createElement('option');
        option.value = tmpList[j];
        option.innerHTML = tmpList[j];
        select.appendChild(option);
      }
    }
  }

  /**
   * Function that clean a div
   * @param {element.div} div - The div
   */
  function cleanDiv(div){
    if(div!=null)
      div.innerHTML = '';
  }

  /**
   * Function showing or hiding "new-artist" div
   * @param {Integer} x - Parameter that can assume values of 0 or 1
   */
  function addArtist(x){
      if(x==1)
          document.getElementById('new-artist').style.display='block';
      else
          document.getElementById('new-artist').style.display='none';
      return;
  }
</script>

{% endblock %}
