{% extends "base.html" %} 

{% block title %}Home
{% endblock %}

{% block content %}

<main>
    <div class="playlist-select-container">
        <div class="row">
            <div class="col left">
                <img src="https://bit.ly/3PiIDrx" alt="nomeAlbum">
            </div>
            <div class="col right">
                <h6>ARTISTA</h6>
                <h4>{{artist_name}}</h4>        
            </div>
        </div>
    </div>
    <div class="button-container">
        <div class="row">
            <div class="col">
                <i class="bi bi-play-circle-fill"></i>
            </div>
        </div>
    </div>
    <h4 class="h4-popolari">Canzoni Popolari</h4>
    <table class="content-table">
        <thead>
          <tr>
            <th>#</th>
            <th>TITOLO</th>
            <th>N° ASCOLTI</th>
            <th><i class="bi bi-clock"></i></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {%- for song in songs_list -%}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ song.title }}</td>
              <td>{{10000 - (loop.index *15) }} </td>
              <td id='intToMinSec'> {{ song.length // 60 }}:{{ song.length % 60}} </td>
              <td class="fav-col">                
                <div class="btn-group dropend">
                    <button type="button" class="btn btn-primary" data-bs-toggle="dropdown">
                      <i class="bi bi-three-dots"></i>
                    </button>
                    <ul class="dropdown-menu">
                      <li class="submenu">
                        <div class="btn-group dropstart btn-group-playlist">
                            <button type="button" class="btn btn-primary btn-playlist" data-bs-toggle="dropstart">
                                Aggiungi alla playlist
                                <i class="bi bi-caret-right-fill"></i>
                            </button>
                            <ul class="dropstart-menu playlist">
                              <li><a class="dropdown-item-playlist" href="#">Vai 1</a></li>
                              <li><a class="dropdown-item-playlist" href="#">Vai 2</a></li>
                              <li><a class="dropdown-item-playlist" href="#">Vai 3</a></li>
                              <li><a class="dropdown-item-playlist" href="#">Vai 4</a></li>
                              <li><a class="dropdown-item-playlist" href="#">Vai 5</a></li>
                              <li><a class="dropdown-item-playlist" href="#">Vai 6</a></li>
                              <li><a class="dropdown-item-playlist" href="#">Vai 7</a></li>
                              <li><a class="dropdown-item-playlist" href="#">Vai 8</a></li>
                              <li><a class="dropdown-item-playlist" href="#">Vai 9</a></li>
                            </ul>
                        </div>
                      </li>
                      <li><a class="dropdown-item" href="#">Vai all'artista</a></li>
                      <li><a class="dropdown-item" href="#">Vai all'album</a></li>
                    </ul>
                </div>
              </td>
            </tr>
          {%- endfor -%}
        </tbody>
      </table>
      <h4 class="h4-album">Album</h4>
      <div class="card-container">
        <div class="row">
          {%- for album in album_list -%}
            <div class="col">
              <div class="card bg-dark">
                  <img src="https://bit.ly/3PiIDrx">
                  <div class="card-body">
                    <h3>{{ album.name }}</h3>
                    <h5>{{ album.year }}</h5>
                  </div>
              </div>
            </div>
            <div class="col">
              <div class="card bg-dark">
                  <img src="https://bit.ly/3PiIDrx">
                  <div class="card-body">
                    <h3>{{ album.name }}</h3>
                    <h5>{{ album.year }}</h5>
                  </div>
              </div>
            </div>
            <div class="col">
              <div class="card bg-dark">
                  <img src="https://bit.ly/3PiIDrx">
                  <div class="card-body">
                    <h3>{{ album.name }}</h3>
                    <h5>{{ album.year }}</h5>
                  </div>
              </div>
            </div>
            <div class="col">
              <div class="card bg-dark">
                  <img src="https://bit.ly/3PiIDrx">
                  <div class="card-body">
                    <h3>{{ album.name }}</h3>
                    <h5>{{ album.year }}</h5>
                  </div>
              </div>
            </div>
            <div class="col">
              <div class="card bg-dark">
                  <img src="https://bit.ly/3PiIDrx">
                  <div class="card-body">
                    <h3>{{ album.name }}</h3>
                    <h5>{{ album.year }}</h5>
                  </div>
              </div>
            </div>
            <div class="col">
              <div class="card bg-dark">
                  <img src="https://bit.ly/3PiIDrx">
                  <div class="card-body">
                    <h3>{{ album.name }}</h3>
                    <h5>{{ album.year }}</h5>
                  </div>
              </div>
            </div>
            <div class="col">
              <div class="card bg-dark">
                  <img src="https://bit.ly/3PiIDrx">
                  <div class="card-body">
                    <h3>{{ album.name }}</h3>
                    <h5>{{ album.year }}</h5>
                  </div>
              </div>
            </div>
            <div class="col">
              <div class="card bg-dark">
                  <img src="https://bit.ly/3PiIDrx">
                  <div class="card-body">
                    <h3>{{ album.name }}</h3>
                    <h5>{{ album.year }}</h5>
                  </div>
              </div>
            </div>
          {%- endfor -%}
        </div>
    </div>
    <script>
        function changeHearticon(icon, songId, id_playlist){
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/playlists/"+id_playlist, true);
            
            let typeIcon = null
        
            if (icon.classList.contains('bi-heart')) {
                typeIcon="addToFav"
                icon.classList.remove("bi-heart");
                icon.classList.add("bi-heart-fill");
            } else {
                typeIcon="removeFromFav"
                icon.classList.add("bi-heart");
                icon.classList.remove("bi-heart-fill");
            }
            xhr.setRequestHeader('Content-Type', typeIcon);
            xhr.send(songId);
        }
    </script>
</main>

{% endblock %}

