{% extends "base.html" %} 

{% block title %}Home
{% endblock %}

{% block navbar_class_home %}active{% endblock %}

{% block content %}

<main>
    <header>
        <h1>Bentornato {{session['username']}}!</h1>
    </header>
    {% if session['isPremium'] %} 
        <h4 class="h4-playlist" style="color: #fff; margin-bottom: 20px; margin-top: 20px">Playlist Premium</h4>
        <div class="row row-cols-1 row-cols-md-3 g-4">
        {%- for playlist in genre_playlists -%}
            <div class="col">
            <a href="{{url_for('views.get_playlist_selected',id_playlist_selected=playlist.id)}}">
                <div class="card h-100" style="position:relative;">
                <img src="https://bit.ly/3PiIDrx">
                <div class="card-body">
                    <h3>{{ playlist.name }} </h3>                             
                    </div>
                </div>
            </a>
            </div>
        {%- endfor -%}
        </div>
    {% endif %}      

</main>

{% endblock %}

