{% extends "base.html" %} 

{% block title %}Home
{% endblock %}

{% block navbar_class_home %}active{% endblock %}

{% block content %}

<main>
    <header>
        <h1>Bentornato {{username}}!</h1>
    </header>    
    <div class="card-container">
        <div class="row">
            <div class="col">
                <div class="card bg-dark">
                    <img src="https://bit.ly/3PiIDrx">
                    <div class="card-body">
                      <h3>NomePlaylist</h3>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-dark">
                    <img src="https://bit.ly/3PiIDrx">
                    <div class="card-body">
                      <h3>NomePlaylist</h3>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-dark">
                    <img src="https://bit.ly/3PiIDrx">
                    <div class="card-body">
                      <h3>NomePlaylist</h3>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-dark">
                    <img src="https://bit.ly/3PiIDrx">
                    <div class="card-body">
                      <h3>NomePlaylist</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</main>

{% endblock %}

