{% extends "base.html" %} 

{% block title %}Home
{% endblock %}

{% block navbar_class_playlists %}active{% endblock %}

{% block content %}


<main>
    
      <div class="row row-cols-1 row-cols-md-3 g-4">
        {%- for playlist in playlists -%}
          <div class="col">
            <a href="{{url_for('views.get_playlist_selected',id_playlist_selected=playlist.id)}}">
              <div class="card h-100" style="position:relative;">
                <img src="https://bit.ly/3PiIDrx">
                <div class="card-body">
                    <h3>{{ playlist.name }} </h3>
                    <form action="{{url_for('views.delete_playlist',id=playlist.id)}}" method="POST">
                      <button type="submit"  class="btn" name="delete-playlist">
                        <i class="bi bi-trash-fill" ></i>
                      </button>  
                    </form>                 
                  </div>
              </div>
            </a>
          </div>
        {%- endfor -%}
      </div>
  
</main>

{% endblock %}

