{% extends "base.html" %} 

{% block title %}{{playlist_name}}
{% endblock %}

{% block content %}

<main>
    <div class="playlist-select-container">
        <div class="row">
            <div class="col left">
                <img src="https://bit.ly/3PiIDrx" alt="nomePlaylist">
            </div>
            <div class="col right">
                <h6>PLAYLIST</h6>

                {% if not isPlPremium %}
                <button type="button" class="link" data-bs-toggle="modal" data-bs-target="#change">
                    {{playlist_name}}
                </button>
                {% else %}
                <h2 style="font-size: 39px;">{{playlist_name}}</h2>
                {% endif %}
                
                <form action="#" method="POST">
                    <div class="modal fade" id="change" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog centered">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel" style="color: black;">Cambia nome della playlist</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <label style="color: black;">Inserisci nome playlist</label>
                                <input type="text" id="nomePlaylist" name="nomePlaylist">
                            </div>
                            <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" name="change-name-playlist" value="change-name-playlist">Salva</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </form>
                <h5>{{num_songs}} brani, {{tot_length// 3600 }} ore {{tot_length// 60 }} minuti  </h5>
            </div>
        </div>
    </div>
    <table class="content-table">
        <thead>
          <tr>
            <th>#</th>
            <th></th>
            <th>TITOLO</th>
            <th>ALBUM</th>
            {% if isPlPremium %}
              <th>N° ASCOLTI</th>
            {% endif %}
            <th><i class="bi bi-clock"></i></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {%- for song in songs_list -%}
            {% if song is mapping %}
              <tr>
                <td>{{ loop.index }}</td>
                {% if isPlPremium %}
                  <td>
                    <button class="button-container" id="btn-plays{{song.id}}" onclick="addPlaysPremium('plays{{song.id}}', '{{song.id}}')"><div class="row-b"><div class="col-b"><i class="bi bi-play-circle-fill"></i></div></div></td>
                {% else %}
                  <td>
                    <button class="button-container" id="btn-plays{{song.id}}" onclick="addPlays('{{song.id}}')"><div class="row-b"><div class="col-b"><i class="bi bi-play-circle-fill"></i></div></div></td>
                {% endif %}
                <td>{{ song.title }}<br>
                {% for key, value in song.artists_data.items() %}
                  {% if loop.last %}
                  <a class="text-artist-link" href="{{url_for('views.get_artist_selected',id_artist_selected=value[0])}}">{{ value[1] }}</a> 
                  {% else %}
                  <a class="text-artist-link" href="{{url_for('views.get_artist_selected',id_artist_selected=value[0])}}">{{ value[1] }}</a>,
                  {% endif %}
                {% endfor %}
                </td>
                <td>{{ song.name_album }}</td>
                {% if isPlPremium %}
                  <td id="plays{{song.id}}">{{ song.tot_plays_genre }}</td>
                {% endif %}
                <td id='intToMinSec'> 
                  {% if (song.length // 60) < 10 %}
                    0{{ song.length // 60 }}:
                  {% else %}
                    {{ song.length // 60 }}:
                  {% endif %}
                  
                  {% if (song.length % 60) < 10 %}
                    0{{ song.length % 60 }}
                  {% else %}
                    {{ song.length % 60 }}
                  {% endif %}
                </td>
                <td class="fav-col">                
                  <div class="btn-group dropend">
                      <button type="button" class="btn btn-primary" data-bs-toggle="dropdown">
                        <i class="bi bi-three-dots"></i>
                      </button>
                      <ul class="dropdown-menu">
                        <li class="submenu">
                          <div class="btn-group dropstart btn-group-playlist">
                              <button type="button" class="btn btn-primary btn-playlist" data-bs-toggle="dropstart">
                                  Aggiungi alla playlist
                                  <i class="bi bi-caret-right-fill"></i>
                              </button>
                              <ul class="dropstart-menu playlist">
                                {%- for playlist in playlist_list -%}                                
                                  <li><a class="dropdown-item-playlist" href="{{url_for('views.playlist_add_song', id_playlist_selected=actual_playlist, idPlaylist_ToAddSong=playlist.id, id_song=song.id)}}">{{ playlist.name }}</a></li>
                                {%- endfor -%}
                              </ul>
                            </div>
                          </li>
                        {% if not isPlPremium %}
                          <li><a class="dropdown-item" href="{{url_for('views.playlist_remove_song', id_playlist_selected=actual_playlist, id_song=song.id)}}">Rimuovi da questa playlist</a></li>
                        {% endif %}
                        <li class="submenu">
                          <div class="btn-group dropstart btn-group-playlist">
                              <button type="button" class="btn btn-primary btn-playlist" data-bs-toggle="dropstart">
                                Vai all'artista
                                  <i class="bi bi-caret-right-fill"></i>
                              </button>
                              <ul class="dropstart-menu artist">
                                {% for key, value in song.artists_data.items() %}
                                <li><a class="dropdown-item-playlist" href="{{url_for('views.get_artist_selected',id_artist_selected=value[0])}}">{{ value[1] }}</a></li>
                                {% endfor %}
                              </ul>
                          </div>
                        </li>
                        <li><a class="dropdown-item" href="{{url_for('views.get_album_selected',id_album_selected=song.id_album)}}">Vai all'album</a></li>
                      </ul>
                  </div>
                </td>
              </tr>
            {% else %}
            <tr>
              <td>{{ loop.index }}</td>
              {% if isPlPremium %}
                <td>
                  <button class="button-container" id="btn-plays{{song.id}}" onclick="addPlaysPremium('plays{{song.id}}', '{{song.id}}')"><div class="row-b"><div class="col-b"><i class="bi bi-play-circle-fill"></i></div></div></td>
              {% else %}
                <td>
                  <button class="button-container" id="btn-plays{{song.id}}" onclick="addPlays('{{song.id}}')"><div class="row-b"><div class="col-b"><i class="bi bi-play-circle-fill"></i></div></div></td>
              {% endif %}
              <td>{{ song.title }}<br><a class="text-artist-link" href="{{url_for('views.get_artist_selected',id_artist_selected=song.id_artist)}}">{{ song.name_artist }}</td>
              <td>{{ song.name_album }}</td>
              {% if isPlPremium %}
                <td id="plays{{song.id}}">{{ song.tot_plays_genre }}</td>
              {% endif %}
                <td id='intToMinSec'> 
                  {% if (song.length // 60) < 10 %}
                    0{{ song.length // 60 }}:
                  {% else %}
                    {{ song.length // 60 }}:
                  {% endif %}
                  
                  {% if (song.length % 60) < 10 %}
                    0{{ song.length % 60 }}
                  {% else %}
                    {{ song.length % 60 }}
                  {% endif %}  
                </td>
                <td class="fav-col">                
                  <div class="btn-group dropend">
                      <button type="button" class="btn btn-primary" data-bs-toggle="dropdown">
                        <i class="bi bi-three-dots"></i>
                      </button>
                      <ul class="dropdown-menu">
                        <li class="submenu">
                          <div class="btn-group dropstart btn-group-playlist">
                              <button type="button" class="btn btn-primary btn-playlist" data-bs-toggle="dropstart">
                                  Aggiungi alla playlist
                                  <i class="bi bi-caret-right-fill"></i>
                              </button>
                              <ul class="dropstart-menu playlist">
                                {%- for playlist in playlist_list -%}                                
                                  <li><a class="dropdown-item-playlist" href="{{url_for('views.playlist_add_song', id_playlist_selected=actual_playlist, idPlaylist_ToAddSong=playlist.id, id_song=song.id)}}">{{ playlist.name }}</a></li>
                                {%- endfor -%}
                              </ul>
                            </div>
                          </li>
                        {% if not isPlPremium %}
                          <li><a class="dropdown-item" href="{{url_for('views.playlist_remove_song', id_playlist_selected=actual_playlist, id_song=song.id)}}">Rimuovi da questa playlist</a></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="{{url_for('views.get_artist_selected',id_artist_selected=song.id_artist)}}">Vai all'artista</a></li>
                        <li><a class="dropdown-item" href="{{url_for('views.get_album_selected',id_album_selected=song.id_album)}}">Vai all'album</a></li>
                      </ul>
                  </div>
                </td>
              </tr>
            {% endif %}
          {%- endfor -%}
        </tbody>
      </table>
    <script>


        function showDropdown() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
          
        window.onclick = function(event) {
          if (!event.target.matches(".bi-three-dots")) {
              var dropdowns = document.getElementsByClassName("dropdown-content");
              var i;
              for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains("show")) {
                    openDropdown.classList.remove("show");
                }
              }
          }
        };

        function addPlays(songId){
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "/addPlays", true);
          xhr.setRequestHeader('Content-type', 'addPlays');
          xhr.send(songId);
        }

        function addPlaysPremium(plays, songId){
          var element = document.getElementById(plays);
          var value = element.innerHTML;
          ++value;
          document.getElementById(plays).innerHTML = value;
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "/addPlays", true);
          xhr.setRequestHeader('Content-type', 'addPlays');
          xhr.send(songId);
        };

    </script>
</main>

{% endblock %}

