{% extends "base.html" %} 

{% block title %}Home
{% endblock %}

{% block content %}

<main>
    <div class="playlist-select-container">
        <div class="row">
            <div class="col left">
                <img src="https://bit.ly/3PiIDrx" alt="nomePlaylist">
            </div>
            <div class="col right">
                <h6>PLAYLIST</h6>

                <button type="button" class="link" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    {{playlist_name}}
                </button>
                
                <form action="" method="POST">
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog centered">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel" style="color: black;">Cambia nome playlist</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <label style="color: black;">Nome playlist</label>
                                <input type="text" id="nomePlaylist" name="nomePlaylist">
                            </div>
                            <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" name="change-name-playlist">Salva</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </form>
                <h5>{{num_songs}} brani, {{tot_length// 3600 }} ore {{tot_length// 60 }} minuti  </h5>
            </div>
        </div>
    </div>
    <div class="button-container">
        <div class="row">
            <div class="col">
                <i class="bi bi-play-circle-fill"></i>
            </div>
        </div>
    </div>
    <table class="content-table">
        <thead>
          <tr>
            <th>#</th>
            <th>TITOLO</th>
            <th>ALBUM</th>
            <th><i class="bi bi-clock"></i></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {%- for song in songs_list -%}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ song.title }}<br><a class="text-artist-link" href="{{url_for('views.get_artist_selected',id_artist_selected=song.id_artist)}}">{{ song.name_artist }}</td>
              <td>{{ song.name_album }}</td>
              <td id='intToMinSec'> {{ song.length // 60 }}:{{ song.length % 60}} </td>
              <td class="fav-col">                
                <div class="btn-group dropend">
                    <button type="button" class="btn btn-primary" data-bs-toggle="dropdown">
                      <i class="bi bi-three-dots"></i>
                    </button>
                    <ul class="dropdown-menu">
                      <li class="submenu">
                        <div class="btn-group dropstart btn-group-playlist">
                            <button type="button" class="btn btn-primary btn-playlist" data-bs-toggle="dropstart">
                                Aggiungi alla playlist
                                <i class="bi bi-caret-right-fill"></i>
                            </button>
                            <ul class="dropstart-menu playlist">
                              {%- for playlist in playlist_list -%}                                
                                li><a class="dropdown-item-playlist" href="{{url_for('views.playlist_add_song', id_playlist_selected=actual_playlist, idPlaylist_ToAddSong=playlist.id, id_song=song.id)}}">{{ playlist.name }}</a></li>
                              {%- endfor -%}
                            </ul>
                          </div>
                        </li>
                      <li><a class="dropdown-item" href="{{url_for('views.playlist_remove_song', id_playlist_selected=actual_playlist, id_song=song.id)}}">Rimuovi da questa playlist</a></li>
                      <li><a class="dropdown-item" href="{{url_for('views.get_artist_selected',id_artist_selected=song.id_artist)}}">Vai all'artista</a></li>
                      <li><a class="dropdown-item" href="{{url_for('views.get_album_selected',id_album_selected=song.id_album)}}">Vai all'album</a></li>
                    </ul>
                </div>
              </td>
              
            </tr>
          {%- endfor -%}
        </tbody>
      </table>
    <script>


        function showDropdown() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
          
        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
          if (!event.target.matches(".bi-three-dots")) {
              var dropdowns = document.getElementsByClassName("dropdown-content");
              var i;
              for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains("show")) {
                    openDropdown.classList.remove("show");
                }
              }
          }
        };
    </script>
</main>

{% endblock %}

