{% extends "base.html" %} 

{% block title %}Home
{% endblock %}

{% block content %}


<main>
    <div class="card-container">
      <div class="row">
        {%- for playlist in playlists -%}
          <div class="col">
            <div class="card bg-dark">
                <img src="https://bit.ly/3PiIDrx">
                <div class="card-body">
                  <h3>{{ playlist.name }} 
                    <form method="post">
                      <button type="submit" class="btn" name="delete-playlist">
                        <i class="bi bi-trash-fill"></i>
                      </button>
                      
                    </form>
                    
                  </h3>
                  
                </div>
            </div>
          </div>
        {%- endfor -%}
      </div>
  </div>
</main>

{% endblock %}

