{% extends "base.html" %} 

{% block title %}Home
{% endblock %}

{% block content %}

<main>
    <div class="playlist-select-container">
        <div class="row">
            <div class="col left">
                <img src="https://bit.ly/3PiIDrx" alt="nomePlaylist">
            </div>
            <div class="col right">
                <h6>PLAYLIST</h6>
                <h1>{{playlist_name}}</h1>
                <h5>(num) brani</h5>
            </div>
        </div>
    </div>
    <div class="button-container">
        <div class="row">
            <div class="col">
                <i class="bi bi-play-circle-fill"></i>
            </div>
            <div class="col heart">
                <i class="bi bi-heart" onclick="changeHearticon(this)"></i>
            </div>
            <div class="col share">
                <i class="bi bi-share-fill"></i>
            </div>
        </div>
    </div>
    <table class="content-table">
        <thead>
          <tr>
            <th>#</th>
            <th>TITOLO</th>
            <th>ALBUM</th>
            <th></th>
            <th><i class="bi bi-clock"></i></th>
          </tr>
        </thead>
        <tbody>
          {%- for song in songs_list -%}
            <tr>
              <td>{{ song.p_num_order }}</td>
              <td>{{ song.title }}</td>
              <td>{{ song.id_album }}</td>
              <td class="fav-col"><i class="bi bi-heart" onclick="changeHearticon(this)"></i></td>
              <td>{{ song.length }}:{{ song.length }}</td>
            </tr>
          {%- endfor -%}
        </tbody>
      </table>
    <script>
        function changeHearticon(icon){
            if (icon.classList.contains('bi-heart')) {
                icon.classList.remove("bi-heart");
                icon.classList.add("bi-heart-fill");
            } else {
                icon.classList.add("bi-heart");
                icon.classList.remove("bi-heart-fill");
            }
        }
        function intToHour(length){
          Min  = int(length % 3600 / 60)
          Sec  = length % 3600 % 1800
        }
    </script>
</main>

{% endblock %}

