{% extends "base.html" %} 

{% block title %}Home
{% endblock %}

{% block navbar_class_playlists %}active{% endblock %}

{% block content %}


<main>
    <div class="card-container">
      <div class="row">
        {%- for playlist in playlists -%}
          <div class="col">
            <div class="card bg-dark">
                <img src="https://bit.ly/3PiIDrx">
                <div class="card-body">
                  <h3>{{ playlist.name }} </h3>
                  <form action="{{url_for('views.delete_playlist',id=playlist.id)}}" method="POST">
                    <button type="submit"  class="btn" name="delete-playlist">
                      <i class="bi bi-trash-fill" ></i>
                    </button>  
                  </form>                 
                </div>
            </div>
          </div>
        {%- endfor -%}
      </div>
  </div>
</main>

{% endblock %}

