{% extends "base.html" %} 

{% block title %}Cerca
{% endblock %}

{% block navbar_class_search %}active{% endblock %}

{% block content %}

<main>
    <div class="wrapper">
        <div class="search-input">
            <form method="POST" action="{{url_for('views.search_result')}}">
                <input id="input_id" name="search" type="text" onkeyup="searchElem()" placeholder="Artisti, canzoni o album">
                <div class="autocom-box"></div>
                <div class="icon">
                    <input type="submit" value="Cerca" class="input-field">
                </div>
            </form>
        </div>
    </div>
    {% if lookingFor %}
        {% if song_result %}
        <h4 class="h4-popolari" style="color: #fff;">Canzoni</h4>
        <table class="content-table">
            <thead>
            <tr>
                <th>#</th>
                <th></th>
                <th>TITOLO</th>
                <th>ALBUM</th>
                <th><i class="bi bi-clock"></i></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {%- for song in song_result -%}
                {% if song is mapping %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>
                            <button class="button-container" id="btn-plays{{song.id}}" onclick="addPlays('{{song.id}}')"><div class="row-b"><div class="col-b"><i class="bi bi-play-circle-fill"></i></div></div></td>
                        <td>{{ song.title }}<br>
                            {% for key, value in song.artists_data.items() %}
                                {% if loop.last %}
                                <a class="text-artist-link" href="{{url_for('views.get_artist_selected',id_artist_selected=value[0])}}">{{ value[1] }}</a> 
                                {% else %}
                                <a class="text-artist-link" href="{{url_for('views.get_artist_selected',id_artist_selected=value[0])}}">{{ value[1] }}</a>,
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td><a class="text-link" href="{{url_for('views.get_album_selected',id_album_selected=song.id_album)}}">{{ song.name_album }}</a></td>
                        <td id='intToMinSec'> 
                            {% if (song.length // 60) < 10 %}
                                0{{ song.length // 60 }}:
                            {% else %}
                                {{ song.length // 60 }}:
                            {% endif %}
                            
                            {% if (song.length % 60) < 10 %}
                                0{{ song.length % 60 }}
                            {% else %}
                                {{ song.length % 60 }}
                            {% endif %}    
                        </td>
                        <td class="fav-col">                
                            <div class="btn-group dropend">
                                <button type="button" class="btn btn-primary" data-bs-toggle="dropdown">
                                <i class="bi bi-three-dots"></i>
                                </button>
                                <ul class="dropdown-menu">
                                <li class="submenu">
                                    <div class="btn-group dropstart btn-group-playlist">
                                        <button type="button" class="btn btn-primary btn-playlist" data-bs-toggle="dropstart">
                                            Aggiungi alla playlist
                                            <i class="bi bi-caret-right-fill"></i>
                                        </button>
                                        <ul class="dropstart-menu playlist">
                                            {%- for playlist in playlist_list -%}                                
                                                <li><a class="dropdown-item-playlist" href="{{url_for('views.search_add_song',result=lookingFor, playlistId=playlist.id, songId=song.id)}}">{{ playlist.name }}</a></li>
                                            {%- endfor -%}
                                        </ul>
                                    </div>
                                </li>
                                <li class="submenu">
                                    <div class="btn-group dropstart btn-group-playlist">
                                        <button type="button" class="btn btn-primary btn-playlist" data-bs-toggle="dropstart">
                                          Vai all'artista
                                            <i class="bi bi-caret-right-fill"></i>
                                        </button>
                                        <ul class="dropstart-menu artist">
                                          {% for key, value in song.artists_data.items() %}
                                            <li><a class="dropdown-item-playlist" href="{{url_for('views.get_artist_selected',id_artist_selected=value[0])}}">{{ value[1] }}</a></li>
                                          {% endfor %}
                                        </ul>
                                    </div>
                                </li>
                                <li><a class="dropdown-item" href="{{url_for('views.get_album_selected',id_album_selected=song.id_album)}}">Vai all'album</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% else %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                        <button class="button-container" id="btn-plays{{song.id}}" onclick="addPlays('{{song.id}}')"><div class="row-b"><div class="col-b"><i class="bi bi-play-circle-fill"></i></div></div></td>
                    <td>{{ song.title }}<br><a class="text-artist-link" href="{{url_for('views.get_artist_selected',id_artist_selected=song.id_artist)}}">{{ song.name_artist }}</td>
                    <td><a class="text-link" href="{{url_for('views.get_album_selected',id_album_selected=song.id_album)}}">{{ song.name_album }}</a></td>
                    <td id='intToMinSec'> 
                        {% if (song.length // 60) < 10 %}
                            0{{ song.length // 60 }}:
                        {% else %}
                            {{ song.length // 60 }}:
                        {% endif %}
                        
                        {% if (song.length % 60) < 10 %}
                            0{{ song.length % 60 }}
                        {% else %}
                            {{ song.length % 60 }}
                        {% endif %}    
                    </td>
                    <td class="fav-col">                
                        <div class="btn-group dropend">
                            <button type="button" class="btn btn-primary" data-bs-toggle="dropdown">
                            <i class="bi bi-three-dots"></i>
                            </button>
                            <ul class="dropdown-menu">
                            <li class="submenu">
                                <div class="btn-group dropstart btn-group-playlist">
                                    <button type="button" class="btn btn-primary btn-playlist" data-bs-toggle="dropstart">
                                        Aggiungi alla playlist
                                        <i class="bi bi-caret-right-fill"></i>
                                    </button>
                                    <ul class="dropstart-menu playlist">
                                        {%- for playlist in playlist_list -%}                                
                                            <li><a class="dropdown-item-playlist" href="{{url_for('views.search_add_song',result=lookingFor, playlistId=playlist.id, songId=song.id)}}">{{ playlist.name }}</a></li>
                                        {%- endfor -%}
                                    </ul>
                                </div>
                            </li>
                            <li><a class="dropdown-item" href="{{url_for('views.get_artist_selected',id_artist_selected=song.id_artist)}}">Vai all'artista</a></li>
                            <li><a class="dropdown-item" href="{{url_for('views.get_album_selected',id_album_selected=song.id_album)}}">Vai all'album</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endif %}
            {%- endfor -%}   
            </tbody>
        </table>
        {% else %}
            <h4 class="h4-popolari" style="color: #fff;">Nessuna canzone trovata</h4>   
        {% endif %}
        <hr style="color: black;">
        {% if album_result %}
            <h4 class="h4-album" style="color: #fff;">Album</h4>
            <div class="row row-cols-1 row-cols-md-3 g-4">


                {%- for album in album_result -%}
                    {% if album is mapping %}
                        <div class="col">
                            <a href="{{url_for('views.get_album_selected',id_album_selected=album.id)}}">
                                <div class="card h-100" style="position:relative;">
                                <img src="/static/album.png">
                                <div class="card-body">
                                    <h3>{{ album.name }}</h3>
                                    <h5>{{ album.year }}</h5> 
                                    <h5 style="white-space: normal;">
                                        {% for key, value in album.artists_data.items() %}
                                            {% if loop.last %}
                                            <a class="text-artist-link" href="{{url_for('views.get_artist_selected',id_artist_selected=value[0])}}">{{ value[1] }}</a> 
                                            {% else %}
                                            <a class="text-artist-link" href="{{url_for('views.get_artist_selected',id_artist_selected=value[0])}}">{{ value[1] }}</a>,
                                            {% endif %}
                                        {% endfor %}
                                    </h5>                               
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% else %}
                        <div class="col">
                            <a href="{{url_for('views.get_album_selected',id_album_selected=album.id)}}">
                                <div class="card h-100" style="position:relative;">
                                <img src="/static/album.png">
                                <div class="card-body">
                                    <h3>{{ album.name }}</h3>
                                    <h5>{{ album.year }} </h5>
                                    <h5><a class="text-artist-link" href="{{url_for('views.get_artist_selected',id_artist_selected=album.id_artist)}}">{{ album.name_artist }}</a></h5>                               
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {%- endfor -%}


            </div>
        {% else %}
            <h4 class="h4-album" style="color: #fff;">Nessun album trovato</h4>   
        {% endif %}
        <hr style="color: black;">
        {% if user_result %}
            <h4 class="h4-artist" style="color: #fff;">Artisti</h4>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {%- for user in user_result -%}
                    <div class="col">
                        <a href="{{url_for('views.get_artist_selected',id_artist_selected=user.id)}}">
                            <div class="card h-100" style="position:relative;">
                                <img class="img-artist" src="/static/artist.png">
                                <div class="card-body">
                                    <h3><a class="text-link" href="{{url_for('views.get_artist_selected',id_artist_selected=user.id)}}">{{user.name}}</a></h3>                               
                                </div>
                            </div>
                        </a>
                    </div>
                {%- endfor -%}
            </div>
        {% else %}
            <h4 class="h4-artist" style="color: #fff;">Nessun artista trovato</h4>   
        {% endif %}
        <hr style="color: black;">
    {% endif %}       
    <script type="text/javascript">

        let searchWrapper = document.querySelector(".search-input") 
        let inputBox = searchWrapper.querySelector("input")
        let suggBox = searchWrapper.querySelector(".autocom-box")

        /**
         * Function that searches the database for items that begin as user-entered input
         */
        function searchElem() {
            let userData = document.getElementById("input_id").value;
            const listdb = JSON.parse('{{ list_item | tojson }}')
            let itemList = null;

            if (userData) {
                itemList = listdb.filter((data) => {
                    return data.toLocaleLowerCase().startsWith(userData.toLocaleLowerCase());
                });
                itemList = itemList.map((data) => {
                    return data = '<li>' + data + '</li>';
                });
                searchWrapper.classList.add("active");
                showSuggestions(itemList);
                let allList = suggBox.querySelectorAll("li");
                for (let i = 0; i < allList.length; i++) {
                    allList[i].setAttribute("onclick", "select(this)");
                }
            }
            else {
                searchWrapper.classList.remove("active");
            }
        }
        
        /**
         * Function that insert the value selected by the user into the text field
         * @param {String} element - Element clicked by user
         */
        function select(element) {
            let selectUserData = element.textContent;
            inputBox.value = selectUserData;
            searchWrapper.classList.remove("active");
        }
        
        /**
         * Function that suggests to the user some results based on the search carried out
         * @param {List} list - Set of suggested items
         */
        function showSuggestions(list){
            let listData;
            if(!list.length) {
                userValue = inputBox.value;
                listData = '<li>' + userValue + '</li>';
            }
            else {
                listData = list.join('');
            }
            suggBox.innerHTML = listData;
        }

        /**
         * Function associated with a button that increase the num_of_plays attribute of a song.
         * @param {Integer} songId - The song id 
         */
        function addPlays(songId){
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/addPlays", true);
            xhr.setRequestHeader('Content-type', 'addPlays');
            xhr.send(songId);
        }

    </script>

</main>

{% endblock %}