{% extends "base.html" %} 

{% block title %}Profilo
{% endblock %}

{% block content %}

<main>
  <div class="playlist-select-container">
    <div class="row">
        <div class="col left">
          <img src="/static/user_profile.png" alt="nomeAlbum" style="border-radius: 50%;">
        </div>
        <div class="col right">
          <h6>PROFILO</h6>
          <h4>{{session['username']}}</h4>        
        </div>
    </div>
  </div>
  <div class="h1ap">Account</div>
  <div class="container-ap">
    <table width="100%">
      <tr>
        <th>
          <div class="col-ap">
            <div class="row-ap">Nome utente:</div>
            <div class="row-ap">Email:</div>
            <div class="row-ap">Account premium:</div>
          </div>
        </th>
        <th>
          <div class="col-ap">
            {% for user in user_in %}
            <div class="row-ap"> {{ user.name }} </div>
            <div class="row-ap"> {{ user.email }} </div>
            <div class="row-ap"> 
              {%if session['role']=="UserPremium" or session['role']=="ArtistPremium" or session['role']=="Admin" %}
                Si 
              {% else %}
                No <h5><a class="text-activate-premium-link" href="#" data-bs-toggle="modal" data-bs-target="#premium-subscribe">Diventa Premium a soli 9,99€</a></h5>
              {% endif %}
            </div>
            {% endfor %}
          </div>
        </th>
      </tr>
    </table>
  </div>
  <form action="{{url_for('views.premium_subscription')}}" method="POST">
    <div class="modal fade" id="premium-subscribe" tabindex="-1" aria-labelledby="addAlbumLabel" aria-hidden="true">
      <div class="modal-dialog centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addAlbumLabel" style="color: black;">Attiva Premium</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <p>A soli 9,99€ potrai diventare un membro premium, che ti darà accesso a:</p>
            <ol class="list-group list-group-numbered">
              <li class="list-group-item">Nuove Playlist: saranno disponibili delle playlist contenenti le 10 canzoni più ascoltate per ogni genere musicale</li>
              <li class="list-group-item">Suggerimenti: in base alle canzoni salvate nelle tue playlist ti verranno suggerite delle nuove canzoni</li>
            </ol>
            <br>
            <p style="font-size: 15px;">Se decidi di attivare il premium verrai reindirizzato al login</p>
            </ol>
          </div>    
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" name="create_album">Attiva</button>
        </div>
      </div>
      </div>
    </div>
  </form>
</main>

{% endblock %}
