{% extends "base.html" %} 

{% block title %}Home
{% endblock %}

{% block content %}

<main>
    <div class="playlist-select-container">
        <div class="row">
            <div class="col left">
                <img src="https://bit.ly/3PiIDrx" alt="nomeAlbum">
            </div>
            <div class="col right">
                <h6>PROFILO</h6>
                <h4>{{session['username']}}</h4>        
            </div>
        </div>
    </div>
    <div class="h1ap">Account</div>
    <div class="container-ap">
        <table width="100%">
            <tr>
                <th>
                    <div class="col-ap">
                        <div class="row-ap">Nome utente:</div>
                        <div class="row-ap">Email:</div>
                        <div class="row-ap">Account premium:</div>
                    </div>
                </th>
                <th>
                    <div class="col-ap">
                        {% for user in user_in %}
                        <div class="row-ap"> {{ user.name }} </div>
                        <div class="row-ap"> {{ user.email }} </div>
                        <div class="row-ap"> 
                            {%if session['isPremium'] %}
                                Si 
                            {% else %}
                                No <h5><a class="text-activate-premium-link" href="#" data-bs-toggle="modal" data-bs-target="#premium-subscribe">Diventa Premium a soli 9,99€</a></h5>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </th>
            </tr>
        </table>
    </div>

</main>

{% endblock %}
